/* 
  This CSS file styles the pizza order web application.
  It provides a clean, centered layout with custom colors and spacing,
  enhances readability with styled inputs and buttons, and adds hover effects
  for better user interaction. The theme uses warm tones with a soft background
  to create a fun and inviting user experience.
*/

body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #FBE0DE;
  }
  h1 {
    color: #991E20;
    text-align: center;
    text-decoration: underline wavy #295129;
    text-underline-offset: 10px;
  }
  legend {
    font-weight: bolder;
    letter-spacing: 1px;
    color: #295129;
    text-align: center;
    font-size: larger;
    margin-bottom: 10px;
  }
  label {
    padding: 10px;
    color: #295129;
  }
  .size {
    margin-left: 260px;
  }
  fieldset {
    margin-top: 20px;
    border: 2px solid #d0292c;
    padding: 20px;
    border-radius: 15px;
  }
  .fieldset {
    margin-top: 50px;
  }
  textarea {
    width: 749px;
    height: 80px;
    border-radius: 7px;
    border: solid 1px #C07274;
    background-color: #ecffec;
  }
  #pizzaList, #orderSummary {
    margin-top: 20px;
    color: #295129;
  }
  .pizza-item {
    border-bottom: 1px solid #BB2528;
    padding: 20px;
  }
  #addPizza {
    margin-left: 340px;
  }
  #submit {
    margin-left: 351px;
  }
  button {
    font-size: small;
    font-weight: bold;
    margin-top: 15px;
    color: #672829;
    background-color: #ecffec;
    border: 1.5px solid #BB2528;
    border-radius: 5px;
  }
  button:hover{
    background-color: #c3f5c3;
  }

  input {
    border: 1px solid #295129;
    border-radius: 5px;
    background-color: #ecffec;
  }
  select {
    font-size: medium;
    border: 1px solid #295129;
    border-radius: 5px;
    background-color: #ecffec;
    color: #672829;
    padding: 1px;
  }
  select:hover {
    background-color: #c3f5c3;
  }
  ::placeholder {
    color: #295129;
  }
